* {
    padding: 0;
    margin: 0;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-image: url("https://img.wallpapersafari.com/desktop/1440/900/3/89/53j19Z.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: midnightblue;
    opacity: 0.3;
}

.header-section { 
    position: relative;
    padding: 15% 0 10%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: "Montserrat", sans-serif;
} 

main {
    background-color: lightgrey;
}

h1 {
    font-size: 500%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

article {
    padding-top: 600px;
    display: flex;
    align-items: center;
    margin: 20px auto;
    justify-content: center;
}

#me {
    float:left;
    padding: 20px 20px 20px 20px;
}

#about {
    font-size: 35px;
    color: black;
    margin: -250px 50px 50px 0;
}

 p {
    font-size: 20px;
    margin: 0 0 35px 0;
    color: midnightblue;
}

#work, #contact {
    font-size: 35px;
    padding-top: 70px;
    margin: 20px;
}

.content {
    margin: 60px;

}

#email, #github {
    margin-left: 90px;
    padding: 2px 0 2px;
    font-size: 20px;
}

#github {
    padding-bottom: 200px;
}

.footer {
    color: mistyrose;
    text-align: center;
    padding-top: 20px;
}

@media screen and (max-width: 1400px){
    section {
        width: 50%;
    }
}

@media  screen and (max-width: 768px){
    section, article {
            width: 100%;
        }
        main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    

